body {
  margin: 0;
  --freepaint-color: #FFBF00;
  --animations-color: #4ECDC4;
  --messages-color: #FF6B6B;
  --instruments-color: #94C42B;
  --snake-color: #9493FE;
  --simon-says-color: #4ECDC4;
  --fast-color: #C7F464;
  --minesweeper-color: #73412F;
  /* --chess-color: #C44D58; */
  
  --freepaint-color-transparency: rgba(255, 191, 0, .5);
  --animations-color-transparency: rgba(78,205,196, .5);
  --messages-color-transparency: rgba(255,107,107, .5);
  --instruments-color-transparency: rgba(199,244,100, .5);
  --snake-color-transparency: rgba(148,147,254, .5);
  --simon-says-color-transparency: rgba(78,205,196, .5);
  --fast-color-transparency: rgba(199,244,100, .5);
  --minesweeper-color-transparency: rgba(115, 65, 47, .5);
  /* --chess-color-transparency: rgba(196,77,88, .5); */
}

.game{
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.game.freepaint {
  background-color: var(--freepaint-color);
}
.game.animations {
  background-color: var(--animations-color);
}
.game.messages {
  background-color: var(--messages-color);
}
.game.instruments {
  background-color: var(--instruments-color);
}
.game.snake {
  background-color: var(--snake-color);
}
.game.simon-says {
  background-color: var(--simon-says-color);
}
.game.fast {
  background-color: var(--fast-color);
}
.game.minesweeper {
  background-color: var(--minesweeper-color);
}

/* <NEW> */
.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.game-closeBtn {
  background-color: white;
  font-size: 2rem;
  color: #721c24;
  border: solid 2px #721c24;
  font-family: monospace;
  padding: 7px 40px;
  border-radius: 5px;
  transition: background-color 100ms;
  box-shadow: 7px 7px 30px rgba(0,0,0,0.3);
  cursor: pointer;
}
.game-closeBtn:hover {
  background-color: #f8d7da;
}
.game-input-container {
  padding: 40px;
  margin-bottom: 50px;
  border-radius: 5px;
  box-shadow: 7px 7px 30px rgba(0,0,0,0.3);
  background: white;
  max-width: 60%;
}
.game-control-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-btn {
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  border: solid 1px;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
.game-btn:hover {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}
.game-btn-loop {
  width: 120px;
}
.messages-textarea {
  font-size: 3rem;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
.messages-textarea:hover {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}
.messages-speed-container{
  text-align: center;
}
.messages-speed-indicator {
  font-size: 24px;
}
.game-instruction {
  width: 500px;
  margin-bottom: 50px;
  background: white;
  padding: 20px 25px;
  border-radius: 5px;
  box-shadow: 7px 7px 30px rgba(0,0,0,0.3);
}
.instruction-title {
  font-size: 2rem;
}
.backbutton {
  height: 25px;
}

.animations-input {
  border: solid 1px rgba(0,0,0,0.5);
  border-radius: 4px;
  height: 40px;
  font-size: 24px;
  margin: 5px;
}
.animations-input-xs {
  width: 40px;
}
.animations-input-sm {
  width: 150px;
}
.animations-input-md {
  width: 150px;
}
.game-code {
  max-height: 200px;
  min-height: 40px;
  overflow-y: auto;
  padding: 5px;
  border: solid 1px rgba(0,0,0,0.4);
  border-radius: 0px;
}

/* </NEW> */

.hidden {
  display: none;
  opacity: 0;
}
.showing {
  animation-name: showingAnimation;
  animation-fill-mode: forwards;
  animation-duration: 600ms;
}
.hiding {
  animation-name: hidingAnimation;
  animation-fill-mode: forwards;
  animation-duration: 600ms;
}

.WIP::before {
  content: "WIP";
  position: relative;
  display: block;
  left: -25%;
  top: 0;
  transform: rotate(.9turn);
  font-size: 52px;
  background-color: rgba(0,0,0,0.1);
  width: 150%;
}

@keyframes showingAnimation {
    from {opacity: 0}
    to {opacity: 100%}
}

@keyframes hidingAnimation {
    from {opacity: 100%}
    to {opacity: 0}
}

.toast{
  position: absolute;
  bottom: -60px;
  left: 10px;
  min-height: 50px;
  width: calc(100% - 20px);
  background-color: palegoldenrod;
  transition: color 1s, bottom 1s;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border: solid black 2px;
  color: transparent;
}
.toast > * {
  width: calc(100% - 40px);
  padding-left: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.toast.opened{
  bottom: 10px;
  color: #000;
}

@keyframes hidingAnimation {
    from {opacity: 100%}
    to {opacity: 0}
}